<!doctype html>
<html 
  id="scrollTop" 
  lang="{{ .Language.Lang  }}"
  dir="{{ .Language.LanguageDirection | default `ltr` }}">
  
  <head>
    {{- partial "head.html" . -}}
  </head>
  
  <body>
    {{- partial "site-btn.html" . -}}

    {{ block "header" . }}
      {{ partial "site-header.html" .}}
    {{ end }}
    
    <main class="pb7" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    
    {{ block "footer" . }}
      <footer class="border-top">
        {{ partial "site-footer.html" . }}
      </footer>
    {{ end }}
  </body>
</html>
