<header class="bg-body sticky-top justify-content-center border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/">{{ .Title | default .Page.Title }}</a> -->
        <a class="navbar-brand" href="{{relLangURL "" }}">STEGEMANN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {{ range .Site.Menus.header }}
            <li class="nav-item">
              <a href="{{ relLangURL .URL | safeHTML }}" class="nav-link px-2 text-body-secondary">
                {{ or (T .Identifier) .Name | safeHTML }}
              </a>
            </li>
          {{ end }}
        </ul>
          {{ partial "allLanguages.html" . }}
        </div>
      </div>
    </nav>
  </div>
</header>