{{ with partialCached "func/style/GetMainCSS" "style/GetMainCSS" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" >
{{ end }}

{{ range site.Params.custom_css }}
  {{ with partialCached "func/style/GetResource" . . }}{{ else }}
    <link rel="stylesheet" href="{{ relURL (.) }}">
  {{ end }}
{{ end }}

{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}

{{ $style := resources.Get "sass/main.scss" | toCSS  $options | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">