{{ define "main" }}
  <div class="container">
    <div class="px-4 pt-5 my-5 text-center">
      <h1 class="display-4 fw-bold text-body-emphasis"> {{ .Title | default .Site.Title }}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This is not the page you were looking for.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          
    <a href="{{ .Site.Home.RelPermalink }}">
      Return to the home page
    </a>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="container px-5">
          <img src="https://images.unsplash.com/photo-1578328819058-b69f3a3b0f6b?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
  </div>
{{ end }}
