{{ define "main" }}
<style>
  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* .carousel-item {
  height: 5rem;
} */

.carousel-img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  object-position: center center;
}

.card-img {
  width: 100%;
  height: 42rem;
  object-fit: cover;
  object-position: center center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
</style>

<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img 
      src="https://images.unsplash.com/photo-1588258219511-64eb629cb833?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
      class="d-block w-100 carousel-img"
      alt="...">
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
      <div class="container ">
        <div class="carousel-caption text-start">
          <div>
            <h1 class="bg-dark px-4 py-2 text-white bg-opacity-75 text-wrap d-inline-flex">STEGEMANN.</h1>
          </div>
          <p class="bg-dark px-4 py-2 text-white bg-opacity-75 text-wrap d-inline-flex" >Is Swiftness, Elegance and High-Performance.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img 
      src="https://images.unsplash.com/photo-1637006226409-d285ec1051b3?q=80&w=1633&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
      class="d-block w-100 carousel-img"
      alt="..."
      loading="lazy">
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
      <div class="container ">
        <div class="carousel-caption text-start text-wrap">
          <div>
            <h1 class="bg-dark px-4 py-2 text-white bg-opacity-75 text-wrap d-inline-flex">STEGEMANN.</h1>
          </div>
          <p class="bg-dark px-4 py-2 text-white bg-opacity-75 text-wrap d-inline-flex">Is Shaping the digital skyline with advanced insights in web and software development.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span> -->
  </button>
</div>

<!-- Marketing messaging and featurettes
  ================================================== -->
    {{ range .Site.Menus.header }}
      <div class="bd-example m-0 border-0  rounded-0">
        <div class="card text-bg-dark border-0 rounded-0">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg card-img rounded-0 vh-100" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg> -->
          <img src="https://images.unsplash.com/photo-1550684848-fac1c5b4e853" class="card-img rounded-0 card-img" alt="...">
          <div class="card-img-overlay">
            <div class="px-4 py-5 my-5 text-center">
              <h1 class="display-5 fw-bold text-body-emphasis">
                <a href="{{ relLangURL .URL | safeHTML }}" class="nav-link px-2 text-light">
                {{ or (T .Identifier) .Name | safeHTML }}
                </a>
              </h1>
              <p>
                {{ with .Page }}
                  <div class="summary text-dark">
                    {{ .Summary | truncate 400 }}
                  </div>
                {{ end }}
              </p>
              <div class="col-lg-6 mx-auto" style="bottom:3rem;">
                <!-- <p class="lead mb-4 text-dark">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button type="button" class="btn btn-light btn-lg px-4 gap-3 me-md-2">
                    <a href="mailto:contact@stegemann.app" class="nav-link px-2">
                      Contact Us
                    </a>
                  </button>
                  <button type="button" class="btn btn-dark btn-lg px-4">
                    <a href="{{ relLangURL .URL | safeHTML }}" class="nav-link px-2">
                      Learn More
                    </a>
                  </button>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    {{ end }}
    <!-- <div class="containter">
      {{ range .Site.Menus.header}}
        
      {{ end }}
    </div> -->
    
{{end}}